*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.active{
    background-color: rgba(210, 105, 30, 0.795);
    border-radius: 15px;
}

body{
    font-family: 'Averia Serif Libre', cursive, monospace;
    background: rgb(59,61,108);
    background: linear-gradient(180deg, rgba(59,61,108,0.12368697478991597) 25%, rgba(97,91,177,0.8687850140056023) 95%);
}
.nav-bar{
    position: fixed;
    width:100% ;
    max-height: 8em;

}
section#temples div{
   position: absolute;
    display: flex;
   font-size: 1.3em;
   letter-spacing: 5px;
   text-align: center;
   z-index: 1000;
   flex-direction: column;
   background-color: rgba(73, 59, 49, 0.308);
   border-radius: 15px;

} 

section#temples div a{
    text-decoration: none;
    letter-spacing: 3px;
    /* color: rgb(34, 23, 134); */
    color: rgb(194, 192, 192);
    font-weight: bold;
    cursor: grab;
    font-size: x-large;
    padding:15px; 
    border: 2px dashed;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.322);
} 

section#temples div h2, p, a{
    padding: 5px;
}

section#temples img{
    /* text-transform: uppercase; */
    /* letter-spacing: 4px; */
    /* font-size: 25px; */
    width: 100%;
    position: relative;
    margin-top: -8px;
}


h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    letter-spacing: 10px;
    text-align: center;
    /* text-shadow: 4px 4px 5px rgb(253, 253, 253); */
    background: rgb(35,36,56);
    background: linear-gradient(270deg, rgba(35,36,56,0.49343487394957986) 2%, rgba(184,154,121,0.7567401960784313) 93%);
     border-radius: 15px;
     padding: 10px 2%; 
 }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2vh;
    background-color: rgba(128, 112, 112, 0.911);
    z-index: 2500;
    font-family: 'Averia Serif Libre', cursive, monospace;
}
.logo img{
    /* text-transform: uppercase; */
    /* letter-spacing: 4px; */
    /* font-size: 25px; */
    width: 75px;
    position: relative;   margin: 2px 2%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%; 
}
.nav-links li{
    list-style: none;

}
.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: grab;
    font-size: large;
    padding:15px;
    width: auto;
}

nav ul li a{
    display: block;
    padding: 15px;
}
nav ul li a:hover{
    transition: all 1s;
    background-color: rgba(80, 45, 45, 0.733);
    color: rgba(255, 255, 255, 0.699);
    border-radius: 15px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(36, 18, 18);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:878px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 98vh;
        top: 0vh;
        background-color: rgba(224, 217, 217, 0.651);
        display: flex;
        /* flex-direction: column; */
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        border-radius: 0 0 0 30px;

    }
    .nav-links li {
        opacity: 0;
    }
    nav ul li a{
        display: block;

        
    }
    .burger{
        display: block;
        cursor: grab;
    }
    .nav-links a{
        font-size: large;
    }
    h1{
        top: 20%;
        font-size: x-large;
    }
    section#temples div{
        font-size: .8em;
        letter-spacing: 2px;
        width: 100%;
        margin-top: 10px;
     } 
     
     section#temples div a{
         font-size: small;
         padding: 7px;
     } 
     
     section#temples div h2, p, a{
         padding: 5px;
     }
     
     section#temples img{
         /* text-transform: uppercase; */
         /* letter-spacing: 4px; */
         /* font-size: 25px; */
         width: 100%;
         position: relative;
         margin-top: -8px;
     }

     .logo img{
        width: 50px;
    }
}

.nav-active{
    transform: translate(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateY(50px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    font-weight: 900;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}