.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin: 0 auto;
    padding: 2em;
}

body {
    font-family: 'Poppins', monospace, sans-serif;
}

footer{
    text-align: center;
    background-color: rgb(99, 99, 133);
    color: rgb(179, 175, 175);
    border-radius: 0px 0pc 1em 1em;
}

.topic{
    grid-column: 1/2;
    grid-row: 2/end;
}

.topic2{
    grid-column: 2/3;
    grid-row: 2/end;
}

.topic3{
    grid-column: 3/4;
    grid-row: 2/end;
}

header{
    background-color: rgb(99, 99, 133);
    text-align: center;
    font-family: 'Yusei Magic', sans-serif, serif;
    border-radius: 1em 1em 0px 0px;
}

.boxes{
    border-radius: 1em;
    text-align: center;
    background-color: #aaa;  
}

.title{
    background-color: green;
}

a:hover {
    text-align: left;
    text-transform: lowercase;
    transition: all .5s;
    letter-spacing: .5px;
}

.text{
    margin: 1em;
}

img {
    margin-top: 1em;
    max-width: 90%;
    border-radius: .5em;
}

h1, h2{
    font-size: 1,5em;
    color: rgb(179, 175, 175);
}