@media screen and (max-width:868px){
    .burger{
        display: block;
        cursor: grab;
    }
    .nav-links a{ 
        font-size: large;
    }
    .menu-button{
        font-size: large;
        
    }
    .container{
        grid-template-columns: 1fr 1fr;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    h3{
        grid-column: 1/3;
    }
}
@media screen and (max-width:668px){
    .nav-links{
        width: 35%;
    }
    .container{
        grid-template-columns: 1fr;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    h3{
        grid-column: 1/2;
    }
}



