h1{
    color: rgb(18, 18, 133);
    text-align: center;
    font-weight: 900;
    font-family: cursive;
}

body{
    background-color: blanchedalmond;
}

section{
    background-color: rgba(177, 157, 138, 0.582);
    text-align: center;
    border: solid 1px rgb(94, 92, 92);
    margin: 2px;
    border-radius: 5px;
}

h2 {
    color: rgb(18, 18, 133);
    font-family: serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-family: Helvetica, sans-serif, monospace;
    font-weight: 600;
    margin: 7px;
}

.back{
    background-color: burlywood;
    border-radius: 10px;
    margin: 0;
    filter: drop-shadow(0 0 1.5em rgb(70, 67, 67));
}

.cards{
    padding: 15px;
    margin: 0;
}

main{
    margin: 30px;
    margin: 0 auto;
}

img{
    max-width: 230px;
    filter: drop-shadow(0 0 0.75em rgb(70, 67, 67));
    margin-bottom: 10px;
    border-radius: 5px;
}

footer{
    text-align: center;
    margin-top: 25px;
}

@media only screen and (min-width: 770px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        margin: 0;
    }
    
}

@media only screen and (min-width: 1050px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 15px;
        margin: 0;
    }
    
}