body{
    font-family: Helvetica, sans-serif;
}
.summary{
    margin: 0 auto;
    max-width: 565px;
    margin-top: 5em;
    background-color: rgb(223, 223, 223);
}

.box-content{
    margin: 0 auto;
    padding: 2em;
}
img{
    width: 100%;
    box-shadow: 0px 50px 20px -50px #111;
}

h1{
    color: rgb(124, 124, 124);
    font-weight: 500;
    letter-spacing: 2px;
    font-size: xx-large;
}

p{
    font-family: Helvetica, sans-serif;
}
ul{
    list-style-type:none;
    padding-left: 0;
}
ul li{
    color: darkgray;
    font-family: Helvetica, sans-serif;
    padding: 1em;
    margin-left: 0;
    font-size: smaller;
}
ul li span{
    font-weight: 700;
    color: rgb(95, 87, 87);
    float: right ;
}
.total{
    border-top: 1px solid darkgray;
    padding-top: 2em;
    color: darkgray;
}
.payment span{
    color: rgb(113, 97, 212);
    font-weight: 900;
}
.return{
    color: rgb(122, 107, 218);
    font-size: small;
}
.paypal{
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    font-weight: 600;
    width: 75px;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 223, 223);
}






.payment{
    margin: 0 auto;
    max-width: 565px;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
}
.visa{
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    background-color: rgb(124, 114, 216);
    color: #eee;
    font-weight: 600;
    width: 75px;
}

section.payment h1{
    margin-top: 1em;
}
.company{
    float: right;
}
.cancel{
    margin-left: 10px;
    font-size: x-small;
}
div span.next{
    border: none;   
    padding: 5px;
    background-color: rgb(124, 114, 216);
    color: #eee;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    width: 370px;

}
label{
    display: block;
}

.inputs{
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: x-large;
}
.name{
    color: darkgray;
    margin-bottom: 10px;
}
#enter{
    border: none;
    background-color: #eee;
    border-bottom: 1px solid grey;
    margin-left: 10px;
    font-size: large;
}
#ccn{
    border: none;
    background-color: #eee;
    border-bottom: 1px solid grey;
    margin-left: 10px;
    font-size: large;
}
.inputs2{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
#enter2{
    border: none;
    background-color: #eee;
    border-bottom: 1px solid grey;
    margin-left: 10px;
    width: 100px;
}
.security{
    float: right;
    border-bottom: 50px;
    font-size: smaller;
    color: darkgray;
    margin-top: 35px;
}

.check{
    font-size: smaller;
    color: darkgray;
}
.fix{
    margin-top: 40px;
}
